#Copyright (C) 2021 Alessandro Saviolo

#This program is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.

#This program is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.

#You should have received a copy of the GNU General Public License
#along with this program.  If not, see <http://www.gnu.org/licenses/>.

# python 
*.pyc

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Eclipse files
.project
.cproject
.pydevproject
.settings
cmake_install.cmake

# Temporary files
*~

# Build Folders
build
bin
lib
srv_gen
msg_gen
*.cfgc

# Log files
log
*.log

ROS_NOBUILD

# Matlab msgs gen
matlab_gen

# CLion 
.idea/
cmake-build-debug/
