<?xml version="1.0"?>
<launch>
    <arg name="execution_idx"               default="0"/>
    <arg name="iterations"                  default="10"/>
    <arg name="use_history"                 default="False"/>
    <arg name="trajectory_file"             default="2021-02-18-17-26-00_traj.csv"/>
    <arg name="quad_name"                   default="hummingbird"/>

    <param name="execution_idx"             value="$(arg execution_idx) "/>
    <param name="iterations"                value="$(arg iterations)" />
    <param name="use_history"               value="$(arg use_history)" />
    <param name="trajectory_file"           value="$(arg trajectory_file)" />

    <param name="resources_path"            value="$(find autotune)/resources/" />
    <param name="mpc_parameters"            value="$(find agilib)/params/mpc.yaml" />

    <group ns="$(arg quad_name)">
        <node name="agiros_pilot" pkg="agiros" type="agisim_node" output="screen">
            <param name="param_dir"         value="$(find agilib)/params"/>
            <param name="ros_param_dir"     value="$(find agiros)/parameters"/>
            <param name="pilot_config"      value="simple_sim_pilot.yaml"/>
        </node>
    </group>

    <node pkg="autotune" type="diagnostic.py" name="autotune_node" output="screen" >
        <param name="horizon_length"        value="0.6" />
        <param name="distance_threshold"    value="6.0" />
    </node>
</launch>
